@import "./reset.scss";
@import "./variables.scss";
@import "./grid.scss";
@import "./modal.scss";
@import "./header.scss";

body {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
